<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="sidebar" th:fragment="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <i class="fa-solid fa-link"></i>
            <span>easywire</span>
        </h3>
        <label for="sidebar-toggle"><i class="fa-solid fa-bars"></i></label>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a th:href="@{/}">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a th:href="@{/create-product}">
                    <div style="width: 1.1rem;">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <span>Add Product</span>
                </a>
            </li>
            <li>
                <a th:href="@{/create-category}">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-calendar"></i>
                    </div>
                    <span>Add Category</span>
                </a>
            </li>
            <li>
                <a th:href="@{/add-client}">
                    <div style="width: 1.1rem;">
                        <i class="fa-regular fa-user"></i>
                    </div>
                    <span>Add Client</span>
                </a>
            </li>
            <li>
                <a th:href="@{/product/all}">
                    <div style="width: 1.1rem;">
                        <i class="fa-regular fa-clipboard"></i>
                    </div>
                    <span>All Products</span>
                </a>
            </li>
            <li>
                <a th:href="@{/category/all}">
                    <div style="width: 1.1rem;">
                        <i class="fa-regular fa-folder"></i>
                    </div>
                    <span>All Category</span>
                </a>
            </li>
            <li>
                <a th:href="@{/client/all}">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-list-check"></i>
                    </div>
                    <span>All Client</span>
                </a>
            </li>
            <li>
                <a href="">
                    <div style="width: 1.1rem;">
                        <i class="fa-solid fa-book-open"></i>
                    </div>
                    <span>Contacts</span>
                </a>
            </li>
            <li>
                <a th:href=@{/logout}>
                    <div style="width: 1.1rem;">
                        <i class="fa fa-sign-out"></i>
                    </div>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
