<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Construction Site</title>
    <!--    Common Css-->
    <div th:replace="~{common :: common(~{::link})}"></div>
  </head>
  <body>
    <input type="checkbox" id="sidebar-toggle" />
    <!--Sidebar -->
    <div th:replace="~{components/sidebar :: sidebar}"></div>

    <!--Main Content -->
    <div class="main-content">
      <header th:replace="~{components/header :: header}"></header>
      <main>
        <div class="container card pt-2"   style="min-width: 1000px; overflow-x: auto;">
          <div th:replace="~{components/download_pdf :: download}"></div>
          <div id="print_doc"  style="min-width: 980px; overflow-x: auto;">
            <div class="p-3 mb-4 card">
              <!-- Top Section -->
              <div class="invoice border-bottom border-4 border-success">
                <div class="head-top">
                  <div class="row">
                    <div
                      class="left-top col-md-8 col-sm-8 col-8 d-flex .justify-content-center align-items-center border-end border-success border-4"
                    >
                      <div class="image">
                        <img src="/img/logo.png" alt="" />
                      </div>
                      <div class="d-flex flex-column">
                        <span class="fs-3" style="font-weight: 600"
                          >ABC Company</span
                        >
                        <span>Adarsh Nagar, Pune, 413340</span>
                        <span> <span>phone</span> 91348342</span>
                        <span><span>Email : </span>abcd@gmail.com</span>
                      </div>
                    </div>
                    <div class="right-top col-md-4 col-sm-4 col-4">
                      <h1 class="text-warning">Bill</h1>
                      <div class="d-flex flex-column gap-2 mt-4">
                        <span><span>Date : </span> [[${date}]]</span>
                        <span><span>Bill No : </span> [[${bill.billId}]]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Bill To  -->
              <div class="bill-to mt-2">
                <div class="card">
                  <div class="row">
                    <div class="left-bill-to col-md-3 col-sm-3 col-3 bg-light p-5 p-sm-5 p-md-5">
                      <span
                        style="font-size: 24px; font-weight: 600"
                        class="text-center text-nowrap p-5 p-sm-5 p-md-5 "
                        >Bill To</span
                      >
                    </div>
                    <div class="right-bill-to col-md-9 col-sm-9 col-9 ">
                      <div class="row">
                        <div
                          class="col-md-3 col-sm-3 col-3 mt-2 d-flex flex-column gap-3 pt-1"
                        >
                          <span style="font-size: 18px; font-weight: 600"
                            >Name :
                          </span>
                          <span style="font-size: 18px; font-weight: 600"
                            >Mobile :
                          </span>
                          <span style="font-size: 18px; font-weight: 600"
                            >Email :
                          </span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-9 d-flex flex-column gap-3 pt-3">
                          <span th:text="${bill.client.clientName}"
                            >Pradip Kumar</span
                          >
                          <span th:text="${bill.client.mobile}"
                            >The Empire apartment, Nigdi, Pune 413433</span
                          >
                          <span th:text="${bill.client.email}"
                            >pradip@gmail.com</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- products and Total   -->
              <div class="products mt-4">
                <table class="table">
                  <thead class="bg-success text-white">
                    <tr>
                      <th scope="col">Sr. No</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="item,iterStat : ${bill.billItems}">
                      <th scope="row" th:text="${iterStat.index + 1}">1</th>
                      <td th:text="${item.product.prodName}">Product 1</td>
                      <td th:text="${item.qty}">Otto</td>
                      <td>[[${item.qty * item.product.price}]]</td>
                    </tr>
                  </tbody>
                </table>
                <div class="row offset-md-6 offset-sm-6 offset-6">
                  <div class="card p-3">
                    <div class="total">
                      <div class="d-flex justify-content-between">
                        <span style="font-size: 18px; font-weight: 600"
                          >Sub Total :
                        </span>
                        <span style="font-size: 16px" th:text="${bill.subTotal}"
                          >4500</span
                        >
                      </div>
                      <div class="d-flex justify-content-between">
                        <span style="font-size: 18px; font-weight: 600"
                          >Tax :
                        </span>
                        <span style="font-size: 16px" th:text="${bill.tax}"
                          >600</span
                        >
                      </div>
                      <div class="d-flex justify-content-between">
                        <span style="font-size: 18px; font-weight: 600"
                          >Grand Total :
                        </span>
                        <span th:text="${bill.totalPrice}">15000</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!--Common Js-->
    <div th:replace="~{common :: common_js(~{::script})}"></div>
    <script>
      window.onload = function () {
        document.getElementById("download").addEventListener("click", () => {
          const printDoc = this.document.getElementById("print_doc");
          console.log("Request Getting.....");

          console.log(printDoc);
          var opt = {
            margin: 0.3,
            filename: "myfile.pdf",
            image: { type: "jpeg", quality: 1 },
            html2canvas: { scale: 1 },
            jsPDF: { unit: "in", format: "a4", orientation: "portrait" },
          };
          html2pdf().set(opt).from(printDoc).save();
          //    htlml2pdf().from(printDoc).save();
        });
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js"></script>
  </body>
</html>
